*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow: hidden;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1d2026;
  min-height: 10vh;
  position: relative;
  z-index: 2;
}

.back-video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.content{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  max-width: 900px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(247, 247, 247);
  padding-top: 50px;
}

.content h1{
  font-size: 57px;
  font-weight: 600;
  margin-bottom: 40px;
}

.content form{
  background: rgb(247, 247, 247);
  padding: 10px;
  border-radius: 800px;
  display: flex;
}

.content form input{
  flex: 1;
  border: none;
  outline: none;
  padding: 0px 20px;
  font-size: 18px;
  background-color: rgb(247, 247, 247);
}

.content button{
  background: rgba(80, 200, 120, 0.842);
  color: rgb(247, 247, 247);
  padding: 15px 24px;
  border: none;
  border-radius: 800px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

@media (min-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  .back-video{
    width: auto;
    height: 100%;
  }
}

.nav_links{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 37%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: rgba(14, 14, 14, 0.1);
  border-radius: 10px;
  position: relative;
  right: 17px;
}

.nav_links li a{
  text-decoration: none;
  color: rgb(160, 160, 160);
  position: relative;
  padding: 6px 0px;
}

.nav_links li a:before{
  content: '';
  position: absolute;
  height: 1px;
  width: 0%;
  background: rgb(80, 200, 120);
  bottom: 4px;
  left: 0;
  transition: all 0.4s ease;
}

.nav_links li a:hover:before{
  width: 100%;
}

.nav_links li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}

.nav_links li.upward a:before{
  width: 100%;
  bottom: 1px;
  opacity: 0;
}

.nav_links li.upward a:hover:before{
  bottom: 4px;
  opacity: 1;
}

.nav_links li.forward a:before{
  width: 100%;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.nav_links li.forward a:hover:before{
  transform: scale(1);
  transform-origin: left;
}

.logo{
  letter-spacing: 5px;
  position: relative;
  text-transform: uppercase;
  font-size: 19px;
  background: linear-gradient(to right,
  hsl(0,0%,30%) 0,
  rgb(80, 200, 120) 10%,
  hsl(0,0%,30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  padding: 0px 24px;
  left: 17px;
}


@keyframes shine{
  0%{
    background-position: 0;
  }
  60%{
    background-position: 600px;
  }
  100%{
    background-position: 600px;
  }
}

@media screen and (max-width:1292px){
  .content{
    width: 55%;
  }
}

@media screen and (max-width:1050px){
  .nav_links{
    width: 45%;
  }
}

@media screen and (max-width:720px){
  .nav_links{
    display: none;
  }
}

@media screen and (max-width:1292px){
  .content h1{
    font-size: 44px;
  }
}

@media screen and (max-width:1050px){
  .content{
    width: 100%;
  }
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 2px;
  background-color: rgb(160, 160, 160);
  margin: 4px;
  margin-right: 50px;
}

@media screen and (max-width:720px){
  body{
    overflow-x: hidden;
  }
}

@media screen and (max-width:720px){
  .nav_links{
    position: absolute;
    right: 0px;
    height: 92vh;
    background-color: #1d2026;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    top: 8vh;
    transform: translateX(100%);
  }
  .burger{
    display: block;
  }
}
